<div class="header-top  d-flex justify-content-between align-items-center">
    <div class="header-top-left  d-flex align-items-center ">
      <img src="../../assets/LOGO-Argentina-programa.png" alt="Logo argentina programa"/>
      <p>#YO<span>PROGRAMO</span></p>
    </div>
    
    <div class="menuok">
      <a href="#ref"><i class="fa-solid fa-bars"></i></a>
    </div>
    
    <div class="header-top-right  d-flex  align-items-center">
      <app-red-social class="menuon"></app-red-social>
      <button class="menuon" type="button" >LOGIN</button>
    </div>
</div>

