
#portada{
    position:relative;
}

#portada img{
    width: 100%;
    max-height: 400px;
    border-radius: 15px 15px 0px 0px;
}

#portada button{
    padding: 4px 7px;
    position: absolute;
    top: 1.25rem;
    right: 1.87rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.336);
    border:none;
    transition: width 2s, height 2s ;
}

#portada button:hover{
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
}