ul {
  padding: 0 1.5rem 0 2rem;
  margin-bottom: 0px;
}

li {
  padding: 1rem 0 ;
  border-bottom: solid 1px rgb(202, 200, 200);
}

li:first-child { 
  padding-top: 0px;
}
li:last-child { 
  border-bottom: none;
  padding-bottom: 1rem;
}

.t1 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.t2 {
  font-size: 14px;
  margin: 0;
}

.t3 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}
